<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>502 Bad Gateway</title>
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.png"/>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center error-page login-bg">
            <div class="card col-lg-4 mx-auto">
                <div class="card-body px-5 py-5">
                    <h1 class="display-1 text-center mb-4">502</h1>
                    <p class="text-center mb-4">Oops! The server encountered a bad gateway.</p>
                    <div class="text-center">
                        <a class="btn btn-primary btn-block enter-btn" href="../../">Back to home</a>
                    </div>
                    <p class="text-white font-weight-medium text-center mt-3">Copyright &copy; 2023 All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/vendor.bundle.base.js"></script>
<script src="/js/off-canvas.js"></script>
<script src="/js/hoverable-collapse.js"></script>
<script src="/js/misc.js"></script>
<script src="/js/settings.js"></script>
<script src="/js/todolist.js"></script>
</body>
</html>
