<div id="messageList">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Sent Messages List
                </h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Sender</th>
                            <th>Title</th>
                            <th>Id</th>
                            <th>Read</th>
                            <th>Timestamp</th>
                        </tr>
                        </thead>
                        <tbody id="messageTableBody">
                        <!-- Use Thymeleaf to iterate over the messages -->
                        <tr th:each="message : ${messages}" th:limit="5">
                            <td th:text="${message.sender.name}"></td>
                            <td th:text="${message.title}"></td>
                            <td th:text="${message.id}"></td>

                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" th:checked="${message.isMessageRead}">
                                </div>
                            </td>
                            <td th:text="${message.relativeTime}"></td> <!-- Display the relative time -->
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button id="previousButton" type="button" class="btn btn-outline-secondary2 btn-md">Previous</button>
                <button type="button" class="btn btn-outline-secondary2">1</button>
                <button type="button" class="btn btn-outline-secondary2">2</button>
                <button type="button" class="btn btn-outline-secondary2">3</button>
                <button id="nextButton" type="button" class="btn btn-outline-secondary2 btn-md">Next</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var currentPage = parseInt("${currentPage}");
        var totalPages = parseInt("${totalPages}");

        $("previousButton").click(function() {
            if (currentPage > 0) {
                currentPage--;
                updatePage();
            }
        });

        $("nextButton").click(function() {
            if (currentPage < totalPages - 1) {
                currentPage++;
                updatePage();
            }
        });

        function updatePage() {
            // Perform an AJAX request to retrieve the next or previous page
            $.ajax({
                url: "/home/messages-sent-fragment?page=" + currentPage,
                success: function(data) {
                    // Update the table with the new messages
                    $("messageTableBody").html(data);
                }
            });
        }
    });
</script>